.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(205, 218, 219);
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
	display: flex;
	justify-content: space-between;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.titulo {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	margin: 0;
	height: 50%;
	color: #646cff;
	text-decoration: inherit;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.anContainer {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.anchors {
	display: flex;
	font-size: 1.1rem;
}

.anchors:hover {
	color: blue;
}

svg {
	font-size: 2rem;
	color: black;
	height: 100%;
}
