.counter {
	width: 100%;
	height: 20%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.buttonsCount {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	width: 20%;
	color: #555;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	height: 30px;
}

.Nspan {
	width: 20%;
	color: black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.containerBtnAdd {
	width: 90%;
}

.buttonsAdd {
	background-color: green;
	color: white;
	width: 80%;
	height: auto;
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.buttonsAdd:hover {
	background-color: #3e8e41;
}
